*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
    height: fit-content;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset-btn{
    margin: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
.O{
    color: darkorchid;
}
.winner{
    background-color: #90ee90;
    color: black;
    box-shadow: 0 0 15px rgba(0,255,0,0.7);
}
.players{
    font-size: 20px;
    margin-top:8px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.players span{
    border: 2px solid #aaa;
    border-radius: 2rem;
    margin: 5px;
    padding: 8px 12px;
    transition: 0.3s;
}
.active{
    border-color: #00ffcc;
    box-shadow: 0 0 10px #00ffcc;
}
/* start page */
.logo{
    height: 70vmin;
    width: 50vmin;
}
.start-btn{
    height: 4rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: #191913;
    font-size: x-large;
}
a{
    text-decoration: none;
    color: white;
}
/* players page */
.main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.content{
    height: 40vmin;
    width: 40vmin;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.ttt{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#heading1{
    height: 50%;
    width: 50%;
    font: size 100px;
}
